
services:
  postgrest:
    image: "postgrest/postgrest:v12.2.3"
    environment:
      # connect to hydra database-csv
      - PGRST_DB_URI=postgres://postgres:postgres@database-csv:5432/postgres
      - PGRST_SERVER_PORT=8080
      - PGRST_DB_ANON_ROLE=postgres
      - PGRST_DB_SCHEMA=public
      - PGRST_DB_AGGREGATES_ENABLED=true
    ports:
      - 8080:8080
    networks:
      - hydra_net

networks:
  hydra_net:
    external: true
